<section class="vh-100" *ngIf="!mostrarFormularioCodigo">
  <div class="container-fluid">
    <div class="row d-flex justify-content-evenly align-items-center h-100">

      <div class="card-container">
        <div class="card shadow-2-strong shadow">
          <div class="card-body p-5">
            <p class="display-4 text-center mb-5">Registrarse</p>
            <form [formGroup]="formRegistro" (ngSubmit)="registrarUsuario()"> 
              <div class="form-campos">
                <mat-form-field>
                  <mat-label>Nombre</mat-label>
                  <input matInput type="text" formControlName="name" class="form-control " name="name"/>
                  <mat-error *ngIf="formRegistro.get('name').hasError('required')">El nombre es obligatorio</mat-error>
                </mat-form-field>
              </div>

              <div class="form-campos">
                <mat-form-field>
                  <mat-label>Apellido</mat-label>
                  <input matInput type="text" formControlName="apellido" class="form-control " name="apellido"/>
                  <mat-error *ngIf="formRegistro.get('apellido').hasError('required')">El apellido es obligatorio</mat-error>
                </mat-form-field>
              </div>

              <div class="form-campos">
                <mat-form-field>
                  <mat-label>Dirección</mat-label>
                  <input matInput type="text" formControlName="direccion" class="form-control " name="direccion"/>
                  <mat-error *ngIf="formRegistro.get('direccion').hasError('required')">La dirección es obligatoria</mat-error>
                </mat-form-field>
              </div>

              <div class="form-campos">
                <mat-form-field>
                  <mat-label>Correo electrónico</mat-label>
                  <input matInput type="email" formControlName="email" class="form-control " name="email" required/>
                  <mat-error *ngIf="formRegistro.get('email').hasError('required')">El email es obligatorio</mat-error>
                  <mat-error *ngIf="formRegistro.get('email').hasError('pattern')">Ingrese un email válido</mat-error>
               </mat-form-field>
              </div>

              <div class="form-campos">
                <mat-form-field>
                  <mat-label>Contraseña</mat-label>
                  <input matInput type="password" formControlName="password" id="typePasswordX-2" class="form-control " name="password"/>
                  <mat-hint><span *ngIf="errorMessage" class="error-message">{{errorMessage}}</span></mat-hint>
                  <mat-error *ngIf="formRegistro.get('password').hasError('required')">La contraseña es obligatoria</mat-error>
                  <mat-error *ngIf="formRegistro.get('password').hasError('minlength')">La contraseña debe tener 8 (ocho) caracteres como mínimo</mat-error>
                  <mat-error *ngIf="formRegistro.get('password').hasError('pattern')">La contraseña debe tener al menos: 
                    <ul>
                      <li>Una mayúscula</li>
                      <li>Una minúscula</li>
                      <li>Un número</li>
                      <li>Un carácter especial .-@</li>
                      <li>No debe poseer espacios</li>
                    </ul>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="mb-2 mt-4 d-flex justify-content-center align-items-end">
                <a (click)="IrAInicio()" class="a-inicio">Ir al inicio</a>
                <button  mat-raised-button color="primary" class="btn-registro">Registrarse</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<div *ngIf="mostrarFormularioCodigo" class="form-code">
  <p class="display-5 text-center mb-5">Ingrese el código de validación</p>
  <form [formGroup]="formCode">
    <div class="form-campos">
      <mat-form-field>
        <mat-label>Código de validación</mat-label>
        <input matInput type="text" formControlName="code" class="form-control" name="code" maxlength="6"/>
        <mat-error *ngIf="formCode.get('code').hasError('required')">Ingrese el código de validación</mat-error>
        <mat-error *ngIf="formCode.get('code').hasError('pattern')">Cumpla con el formato de 6 digitos (solo números)</mat-error>
        <mat-hint><span *ngIf="errorMessage" class="error-message">El código de validación es incorrecto</span></mat-hint>
      </mat-form-field>
    </div>
    <div class="mb-2 mt-4 d-flex justify-content-center align-items-end">
      <button mat-raised-button color="primary" (click)="validarCodigo()">Validar</button>
    </div>
  </form>
</div>


