<header>
  <mat-toolbar class="p-3 pb-4 d-flex justify-content-end" color="dark">

    <div class="d-flex align-items-center">
      <button (click)="openDialog()" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>person</mat-icon>
      </button>
      <span>Ingresar</span>
      <button routerLink="/registro" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <span>Mi carrito</span>
    </div>
  </mat-toolbar>




<mat-toolbar class="p-3 pb-4 mb-4 d-flex justify-content-center" color="">
  <div class="w-25">
    <form class="d-flex justify-content-center" role="search">
      <input matInput class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>search</mat-icon>
      </button>
    </form>
  </div>

</mat-toolbar>

</header>
