<!--<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
<header class="mb-auto">
  <nav class="navbar navbar-expand-lg navbar-dark ">
    <div class="container-fluid">
      <h3 class="pe-4">E-Commerce | TW2 </h3>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Productos</a>
          </li>
          <li class="nav-item">
            <a routerLink="/login" class="nav-link">loguearse</a>

          </li>
          <li class="nav-item">
      
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
</div>

  <ul class="nav justify-content-center bg-secondary">
    <li class="nav-item">
      <a class="nav-link active text-light" aria-current="page" href="#">CATEGORIAS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="#">prueba</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="#">prueba</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="#" tabindex="-1" aria-disabled="true">prueba</a>
    </li>
  </ul>




  <header>
    <nav>
      <div class="logo">Logo</div>
      <div class="search-bar">
        <input type="text" placeholder="Buscar...">
        <button><i class="fas fa-search"></i></button>
      </div>
      <div class="right-icons">
        <div class="cart-icon"><i class="fi fi-rr-shopping-cart"></i>knk</div>
        <div class="cart-icon"><i class="fas fa-shopping-cart"></i>jnj</div>
      </div>
    </nav>
  </header>
-->



