nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  .navbar{
    padding: 1em 0;
    background-color: #613c82;
  }
  .navbar-brand {
    font-size: 40px;
    cursor: pointer;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    color: #fff;
    font-weight: 500;
  }
  .navbar-brand:hover{
    color: #fff;
  }
  .navbar-brand img{
    display: inline-block;
    width: 40px;
    height: 40px;
  }
  .nav-item{
    padding: 0 0.8em;
  }
  .nav-item-a{
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
  }
  .nav-item-span{
    font-size: 16px;
    padding: 0 0.2em;
  }
  .mat-icon{
    font-size: 24px;
    color: #fff;
    cursor: pointer;
  }
  .mat-icon-search{
    padding-top: 3px;
  }
  .btn{
    margin-left: 0.25em;
  }
  
  /*toolbar*/
  .mat-toolbar-header{
    background-color: #613c82;
    padding-right: 0;
  }
  .close-icon  {
    margin-left: 50%;
    padding: 0;
    padding-left: 0.8em;
    padding-top: 0.5em;
  }
  .close-icon:hover{
    background-color: transparent;
  }
  .example-spacer {
    margin-left: 50%;
  }
  .example-spacer {
    flex: 1 1 auto;
    margin-top: 0px;
    background-color: orange;
  }
  .example-spacer:hover{
    background-color: transparent;
  }
  .container{
    height: 400px; /* Establece la altura máxima deseada */
    overflow: auto; 
    padding: 0px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  .small-image {
    width: 55px;
    height: 50px;
    object-fit: cover;
  }
  .container-img-remove ,.container-precio-total, .container-add, .container-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
  }
  .example-button-row  {
    text-align: center;
  }
  .example-button-row button {
    background-color:beige;
  }
  .a-productos{
    color: #613c82;
    text-align: center;
    font-size: 16px;
  }
  .mat-icon-carrito {
    color: #613c82;
  }
  .total {
    font-weight: 600;
    padding: 1em;
    font-size: 18px;
  }
  .unidad {
    padding-right: 1em;
  }
  .div-img-des {
    font-size: 12px;
    display: flex;
    align-items: center;
  }