<div class="d-flex justify-content-center ">
  <img src="assets/img/hotsale.png" class="d-block w-100" alt="...">
</div>




<div class="container pt-4">
  <h2 class="text-light">¡Los mejores productos los encontrás acá!</h2>
  <div class="text-center">
    <h1>Heladeras</h1>
  </div>
  <div class="row row-cols-3 mt-3 justify-content-evenly">
    <!-- Tarjeta -->
    <div class=" col card m-2 mt-5 bg-secondary pt-2" style="width: 18rem;">
      <img src="assets/img/heladeras/heladera-1.jpg" class="card-img-top" alt="imagen">
      <div class="card-body text-center">
        <h5 class="card-title">nombre</h5>
        <p class="card-text">$---</p>
      </div>
    </div>

    <!-- -->
    <div class=" col card m-2 mt-5 bg-secondary pt-2" style="width: 18rem;">
      <img src="assets/img/heladeras/heladera-2.jpg" class="card-img-top" alt="imagen">
      <div class="card-body text-center">
        <h5 class="card-title">nombre</h5>
        <p class="card-text">$---</p>
      </div>
    </div>

    <!-- -->
    <div class=" col card m-2 mt-5 bg-secondary pt-2" style="width: 18rem;">
      <img src="assets/img/heladeras/heladera-2.jpg" class="card-img-top" alt="imagen">
      <div class="card-body text-center">
        <h5 class="card-title">nombre</h5>
        <p class="card-text">$---</p>
      </div>
    </div>


  </div>
</div>




