#img-hero{
   overflow: hidden;
}
.title-sp{
    text-align: center;
    margin: 2em 0;
    font-weight: 700;
}
.mat-card {
    max-width: 310px;
    background-color: #FFF;
    padding: 1em;
    border: 0.3px solid #FFF;
   
    margin: 0 1em;
    margin-bottom: 6em;
}
.mat-card:hover{
    transition: all 0.5s ease;
    border: 0.3px solid black;
}
.mat-card-image{
    padding: 0 0.8em;
    height: 250px;
    width: auto;
}
.mat-card-title a{
    text-decoration: none;
    font-weight: 700;
    padding: 0;
    color: #000;
}
.mat-card-subtitle{
    color:#0000008a;
}
.mat-card-actions{
    justify-content: center;
}
.card-price{
    font-size: 22px;
    font-weight: 700;
    color: #000;
    text-align: center;
    margin-top: 0.5em;
}