<div class="container-detalle" *ngIf="producto; else msg">
    <mat-grid-list class="mat-grid-list" cols="2" rowHeight="2:1">
        <mat-grid-tile class="mat-grid-tile">
            <img class="mat-grid-image" src={{producto.imagen}} alt="Image product">
        </mat-grid-tile>

        <mat-grid-tile class="mat-grid-tile">
            <div>
                <h1 class="h1-title">{{producto.nombre}}</h1>
                <p class="p-brand">{{producto.marca}}</p>
                <mat-divider class="mat-divider"></mat-divider>
                <span class="span-price">USD${{producto.precio}}</span>
                <p>{{producto.descripcion}}</p>

                <div class="button-container"  >
                    <div *ngIf="!existeProducto;then noExisteCarrito else existeEnCarrito"></div>
                    
                    <ng-template #noExisteCarrito> 
                    <button mat-fab extended color="primary" (click)="AgregarProducto(producto)">
                        <mat-icon>shopping_cart</mat-icon>
                        <a>Agregar al carrito</a> 
                    </button>
                </ng-template>

                    <ng-template #existeEnCarrito> 

                    <button mat-fab extended color="primary" (click)="eliminarProducto(producto)">
                        <mat-icon>delete</mat-icon>
                        <a>Eliminar del carrito</a> 
                    </button>
                </ng-template>
               <!-- <input  type="number" class="input" min="1" max="10" placeholder="1" value="1">-->


                </div>

                <div class="container-enlaces">
                    <button mat-raised-button color="basic" class="mat-raised-button">
                        <mat-icon class="mat-icon">credit_card</mat-icon>
                        Medios de pago 
                    </button>
                    <button mat-raised-button color="basic" class="mat-raised-button">
                        <mat-icon class="mat-icon">local_shipping</mat-icon>
                        Métodos de envío
                    </button>
                    <button mat-raised-button color="basic" class="mat-raised-button">
                        <mat-icon class="mat-icon">location_on</mat-icon>
                        Retiro en sucursal
                    </button>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<ng-template #msg>El producto seleccionado no está disponible</ng-template>

