.login-component{
    background-color: #fff;
    padding: 5em;
}
#container-btn-close{
    background-color: #613c82;
}
.close-icon  {
    margin-left: 50%;
    padding: 0.5em;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
}
.close-icon:hover{
    background-color: transparent;
}
.form-campos{
    margin-bottom: 0.5em;
}
.form-campos label{
    font-size: 16px;
    padding-bottom: 0.5em;
    padding-top: 1em;
}
  .btn-login{
    margin-top: 2em;
    margin-bottom: 1em;
    padding: 1.5em;
    font-size: 16px;
  }
  #a-registro{
    font-size: 16px;
  }
  #a-registro a{
    color: #613c82;
    cursor: pointer;
  }
  .error-message {
    color: red;
    margin-top: 5px;
  }
  
  .form-control.is-invalid {
    border-color: red;
  }
  
  .form-control.is-valid {
    border-color: green;
  }
  .snack-bar-loading {
    background-color: #333;
    color: #fff;
  }
  ::ng-deep .mat-mdc-snack-bar-container{
    --mdc-snackbar-container-color: #dfe7e1 ;
    --mdc-snackbar-supporting-text-color: #000;
  }