<section class="vh-100 fondoSpider">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-evenly align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="../../../assets/images/spiderman.png" alt="Sample image" style="width: 77%;">
        </div>
  
        <div class="" style="width: 30%;margin-top: -10%;margin-left: -8%;">
          <div class="card shadow-2-strong shadow" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <h3 class="mb-5">Iniciar sesión</h3>
              <form>
                <div class="form-outline mb-4">
                  <input type="email" id="typeEmailX-2" class="form-control form-control-lg" placeholder="ejemplo@email.com"/>
                </div>
    
                <div class="form-outline mb-4">
                  <input type="password" id="typePasswordX-2" class="form-control form-control-lg" placeholder="********"/>
                </div>
    
                <button class="btn btn-primary btn-lg btn-block shadow" type="submit">Iniciar sesión</button>
              </form>
  
              <hr class="my-4">
  
              <p class="small fw-bold mt-2 pt-1 mb-0">
                ¿Sos nuevo? 
                <a  class="link-danger">Registrate</a></p>
  
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </section>

