<div class="pt-2 pe-2 d-flex justify-content-end" id="container-btn-close">
  <button (click)="CloseDialog()"  class="close-icon" aria-label="Cerrar dialogo">
    <mat-icon>close</mat-icon>
  </button>
</div>
<section class="login-component">

    <div class="d-flex justify-content-center">
      <p class="display-4">Iniciar Sesión</p>
    </div>

    <form [formGroup]="LoginForm">
      <div class="form-campos">
        <label>Correo electrónico</label>
        <input type="email" id="UserLogin" formControlName="UserLogin" class="form-control"
               [class.is-invalid]="LoginForm.get('UserLogin').invalid && (LoginForm.get('UserLogin').dirty || LoginForm.get('UserLogin').touched)"
               [class.is-valid]="LoginForm.get('UserLogin').valid && (LoginForm.get('UserLogin').dirty || LoginForm.get('UserLogin').touched)">
        <div *ngIf="LoginForm.get('UserLogin').invalid && (LoginForm.get('UserLogin').dirty || LoginForm.get('UserLogin').touched)"
             class="invalid-feedback">
          <div *ngIf="LoginForm.get('UserLogin').hasError('required')">El correo electrónico es requerido</div>
          <div *ngIf="LoginForm.get('UserLogin').hasError('email')">Por favor, ingresa un correo electrónico válido</div>
        </div>
      </div>
      <div class="form-campos">
        <label>Contraseña</label>
        <input type="password" class="form-control" id="LoginPassword" formControlName="LoginPassword"
               [class.is-invalid]="LoginForm.get('LoginPassword').invalid && (LoginForm.get('LoginPassword').dirty || LoginForm.get('LoginPassword').touched)"
               [class.is-valid]="LoginForm.get('LoginPassword').valid && (LoginForm.get('LoginPassword').dirty || LoginForm.get('LoginPassword').touched)">
        <div *ngIf="LoginForm.get('LoginPassword').invalid && (LoginForm.get('LoginPassword').dirty || LoginForm.get('LoginPassword').touched)"
             class="invalid-feedback">
          <div *ngIf="LoginForm.get('LoginPassword').hasError('required')">La contraseña es requerida</div>
        </div>
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
      </div>
      <div class="mb-3 d-flex justify-content-center">
        <button (click)="login()" mat-raised-button color="primary" class="btn-login">Ingresar</button>
      </div>
    
      <div class="d-flex justify-content-center mb-3" id="a-registro">
        <label class="pb-3">¿Aún no tenés cuenta? </label>
        <a class="ms-2" (click)="IrARegistro()"> Registrate</a>
      </div>
      <div class="d-flex justify-content-center mb-3" id="a-registro">
        <label class="pb-3">¿Aún no verificaste tu cuenta? </label>
        <a class="ms-2" (click)="IrAVerificarCuenta()"> Confirmar cuenta</a>
      </div>
    </form>
    
    
</section>


