.bont{
    border-top: 3px solid #e7e7e7;
    border-right: 3px solid #e7e7e7;
    border-left: 3px solid #e7e7e7;
    background: #ffffff;
    border-radius: 10px 10px 0px 0px;
}
.solapa{
    color:rgb(42, 41, 41)
}
