<div class="pantalla">
  <mat-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel><span class="span-data">Datos personales</span></ng-template>
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="firstCtrl" placeholder="Nombre" required>
          <mat-error *ngIf="firstFormGroup.get('firstCtrl').hasError('required')">El nombre es obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Apellido</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Apellido" required>
          <mat-error *ngIf="firstFormGroup.get('secondCtrl').hasError('required')">El apellido es obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="thirdCtrl" placeholder="Email">
          <mat-error *ngIf="firstFormGroup.get('thirdCtrl').hasError('required')">El email es obligatorio</mat-error>
          <mat-error *ngIf="firstFormGroup.get('thirdCtrl').hasError('pattern')">Ingrese un email válido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Teléfono</mat-label>
          <input matInput formControlName="fourthCtrl" placeholder="Telefono" >
          <mat-error *ngIf="firstFormGroup.get('fourthCtrl').hasError('required')">El teléfono es obligatorio</mat-error>
          <mat-error *ngIf="firstFormGroup.get('fourthCtrl').hasError('pattern')">Ingrese un teléfono válido</mat-error>
        </mat-form-field>
        <div>
          <button  mat-raised-button color="primary" matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel><span class="span-data">Datos de entrega</span></ng-template>
        <mat-form-field>
          <mat-label>Partido</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Partido"required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Localidad</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="localidad"required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Calle</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Calle"required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Altura</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="altura"required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Codigo postal</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="codigo postal"required>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" matStepperPrevious>Atrás</button>
          <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel><span class="span-data">Confirmar compra</span></ng-template>
      <div class="container-product" *ngFor="let producto of productos;">
        <div>
          <span>{{producto.productos.descripcion}}</span>
          <span>  Cantidad:{{producto.cantidad}}</span>
          <span>  {{producto.precio}}</span>
        </div>
      </div>
      <div>
        <button mat-raised-button color="primary" matStepperPrevious>Atrás</button>
        <button mat-raised-button (click)="stepper.reset()">Reestablecer datos</button>
        <button mat-raised-button color="primary" matStepperPrevious (click)="pagar()">Pagar {{sumaTotal}}</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>