@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.pantalla{
    width: 1200px;
    margin: 0 auto;
    margin-top: 5rem;;
}
mat-form-field{
    width: 100%;
}
.cantidad{
    float: right;
}