<div class="pantalla">
  <mat-stepper linear #stepper style="background-color: #4a4a4a;">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Datos personales</ng-template>
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="firstCtrl" placeholder="Nombre" required>
          <mat-error *ngIf="firstFormGroup.get('firstCtrl').hasError('required')">El nombre es obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Apellido</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Apellido" required>
          <mat-error *ngIf="firstFormGroup.get('secondCtrl').hasError('required')">El apellido es obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="thirdCtrl" placeholder="Email">
          <mat-error *ngIf="firstFormGroup.get('thirdCtrl').hasError('required')">El email es obligatorio</mat-error>
          <mat-error *ngIf="firstFormGroup.get('thirdCtrl').hasError('pattern')">Ingrese un email válido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Telefono</mat-label>
          <input matInput formControlName="fourthCtrl" placeholder="Telefono" >
          <mat-error *ngIf="firstFormGroup.get('fourthCtrl').hasError('required')">El teléfono es obligatorio</mat-error>
          <mat-error *ngIf="firstFormGroup.get('fourthCtrl').hasError('pattern')">Ingrese un teléfono válido</mat-error>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Datos de entrega</ng-template>
        <mat-form-field>
          <mat-label>Partido</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Partido"required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Localidad</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="localidad"required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Calle</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Calle"required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Altura</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="altura"required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Codigo postal</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="codigo postal"required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Atrás</button>
          <button mat-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <div class="container-product" *ngFor="let producto of productos;">
        <div>
          <span>{{producto["descripcion"]}}</span>
          <span>  Cantidad:{{producto["cantidad"]}}</span>
          <span>  {{producto["precio"]}}</span>
        </div>
      </div>
      <div>
        <button mat-button matStepperPrevious>Atrás</button>
        <button mat-button (click)="stepper.reset()">Reestablecer datos</button>
        <button mat-button matStepperPrevious>Pagar {{sumaTotal}}</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>