
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #90cf4c;
    padding: 10px;
  }
  
  .logo,
  .search-bar,
  .right-icons {
    display: flex;
    align-items: center;
  }
  
  .logo {
    font-size: 20px;
    font-weight: bold;
  }
  
  .search-bar input {
    padding: 5px;
    margin-right: 5px;
  }
  
  .search-bar button {
    padding: 5px;
    background-color: #cf7272;
    border: none;
  }
  
  .right-icons {
    margin-left: auto;
  }
  
  .user-icon i,
  .cart-icon i {
    font-size: 18px;
    margin-right: 15px;
  }
  /*toolbar*/
  .mat-toolbar-header{

    background-color: rgb(97, 60, 130);
  }
  .example-spacer {
    margin-left: 50%;
 }

 .colortexto{
  color: black;
 }


 .scrollable-div {
  height: 500px; /* Establece la altura máxima deseada */
  overflow: auto; /* Crea una barra de desplazamiento cuando sea necesario */
}
.example-spacer {
  flex: 1 1 auto;
  margin-top: 0px;
}

.container{
  height: 200px; /* Establece la altura máxima deseada */
  overflow: auto; 
  padding: 0px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}


.small-image {
  width: 55px;
  height: 50px;
  object-fit: cover;
 
}



.container-img-remove ,.container-precio-total, .container-add, .container-product{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}








.example-button-row  {
  text-align: center;
}

.example-button-row button {
  background-color:beige;
}




