

<!--

<nav>
    <div class="logo">Logo</div>
    <div class="search-bar">
      <input  class="form-control mr-sm-3" type="text" placeholder="Buscar...">
      <button><i class="fas fa-search"></i></button>
    </div>
    <div class="right-icons">  
         <div class="cart-icon"><i class="fas fa-shopping-cart"></i>jnj</div>
      <div class="cart-icon" ><a (click)="openEnd(content)"><i class="fi fi-rr-shopping-cart"></i></a></div>
   
    </div>
  </nav>-->

 
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Logo</a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0 mx-auto">
        <div class="input-group">
          <input class="form-control" type="search" placeholder="Buscar" aria-label="Buscar">
          <div class="input-group-append">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </div>
        </div>
      </form>
    </div>
  
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fi fi-rr-shopping-cart"></i>
        </a>
      </li>
      <li class="nav-item">
        <a (click)="openEnd(content)"><i class="fi fi-rr-shopping-cart"></i></a>
      </li>
    </ul>
  </nav>
  

<ng-template #content let-offcanvas>
	<div class="offcanvas-header">
		<h4 class="offcanvas-title">Offcanvas title</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
	</div>
	<div class="offcanvas-body">
		<p>One fine body&hellip;</p>
		<div class="text-end">
			<button type="button" class="btn btn-outline-dark" (click)="offcanvas.close('Close click')">Close</button>
		</div>
	</div>
</ng-template>